# CONSTRUCCIÓN DE CARTERA FINANCIERA

### Librerías

In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Lectura de Base de Datos

In [21]:
#salir de la ruta con dos puntos y entrar a carpeta data
data_route = '../data/'

In [22]:
#Crear variables para poder incluir n archivos (expeses1, expenses2, etc)
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [28]:
#Crear base de datos que se llame expenses
expenses = pd.read_csv(data_route+expenses_filename)
expenses = pd.read_csv(data_route+incomes_filename)

In [29]:
expenses

Empty DataFrame
Columns: [DATE, AMOUNT, CATEGORY, THIRD PARTY, DESCRIPTION]
Index: []