# CONSTRUCCIÓN DE CARTERA FINANCIERA

### Librerías

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Lectura de Base de Datos

In [6]:
#salir de la ruta con dos puntos y entrar a carpeta data
data_route = '../data/'

In [7]:
#Crear variables para poder incluir n archivos (expeses1, expenses2, etc)
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [8]:
#Crear base de datos que se llame expenses
expenses = pd.read_csv(data_route+expenses_filename) #Expenses es una Clase
incomes = pd.read_csv(data_route+incomes_filename) #Expenses es una Clase

In [9]:
#Muestra la bases de datos
expenses

Empty DataFrame
Columns: [DATE, AMOUNT, CATEGORY, THIRD PARTY, DESCRIPTION]
Index: []

In [10]:
#Mostrar las columnas de la base de datos, significa que se puede acceder a cada una de ellas
expenses.columns

Index(['DATE', 'AMOUNT', 'CATEGORY', 'THIRD PARTY', 'DESCRIPTION'], dtype='object')

In [11]:
#Muestra una serie, es decir, una base de datos de una dimensión
expenses['DATE']

Series([], Name: DATE, dtype: object)

In [12]:
incomes

         DATE  AMOUNT  CATEGORY THIRD PARTY         DESCRIPTION
0  29-09-2022     500  VARIABLE         Z2H  Inscripción Python

In [13]:
#Mostrar las columnas de la base de datos, significa que se puede acceder a cada una de ellas
incomes.columns

Index(['DATE', 'AMOUNT', 'CATEGORY', 'THIRD PARTY', 'DESCRIPTION'], dtype='object')

In [14]:
#Muestra una serie, es decir, una base de datos de una dimensión
incomes['DATE']

0    29-09-2022
Name: DATE, dtype: object

In [15]:
incomes['AMOUNT']

0    500
Name: AMOUNT, dtype: int64

In [16]:
incomes['AMOUNT'].sum()

np.int64(500)

In [17]:
incomes.loc[0] #Accede a la información de la línea

DATE                   29-09-2022
AMOUNT                        500
CATEGORY                 VARIABLE
THIRD PARTY                   Z2H
DESCRIPTION    Inscripción Python
Name: 0, dtype: object

In [18]:
incomes.loc[0]['DESCRIPTION'] #Accede a la información de la línea y muestra información de columna

'Inscripción Python'

In [19]:
#Agregar un nuevo elemento
n = len(incomes)

In [20]:
#Anotar nueva información que se debe agregar
incomes.loc[n] = ['29-09-2022',300,'VARIABLE','Z2H','Curson intensivo']

In [21]:
#Muestra base de datos actualizada
incomes

         DATE  AMOUNT  CATEGORY THIRD PARTY         DESCRIPTION
0  29-09-2022     500  VARIABLE         Z2H  Inscripción Python
1  29-09-2022     300  VARIABLE         Z2H    Curson intensivo

In [22]:
#Agregar un nuevo elemento y mostrar número de registros
n = len(incomes)
print(n)

2

### Construcción de la Clase

In [103]:
class fwallet: #Al inicializar la clase, lee inputs registrados, lee bases de datos y los guarda como valores propios

    def __init__(self,inputs): #Función de bienvenida
        self.inputs = inputs #Vinculación con una base de datos JSON (Utilizar diccionarios para crear bases de datos, buscar:Read JSON Python)
                            #Aplicación Principal sirve para vincularse con API de internet
        self.incomes = pd.read_csv(self.inputs['data_route']+self.inputs['incomes_filename'])
        self.expenses = pd.read_csv(self.inputs['data_route']+self.inputs['expenses_filename'])

    ### ACTION TO PERFORM ###

    #Add incomes to database
    def add_incomes(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third party: ')
        description = input('description: ')

        new_income = [date,amount,category,third_party,description] #Creación de lista

        n = len(self.incomes)
        self.incomes.loc[n] = new_income

        self.incomes.to_csv(self.inputs['data_route']+self.inputs['incomes_filename'],index=False)
        
    #Add expenses to database
    def add_expense(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third party: ')
        description = input('description: ')

        new_expense = [date,amount,category,third_party,description] #Creación de lista

        n = len(self.expenses)
        self.expenses.loc[n] = new_expense

        self.expenses.to_csv(self.inputs['data_route']+self.inputs['expenses_filename'],index=False)
    
    #Calculate the total incomes
    def total_income(self): #Función que muestre el ingreso total
        total = self.incomes['AMOUNT'].sum()
        return total
        
    #Calculate the total expenses
    def total_expenses(self): #Función que muestre el gasto total
        total = self.expenses['AMOUNT'].sum()
        return total
    
    #calculate balance = income - expenses
    def balance(self): #Función que muestre el balance o diferencia entre ingresos y balance
        balance = self.total_income() - self.total_expenses()
        return balance

    #Create financial reporte usinf the functions above
    def financial_report(self): #Función que muestre un reporte financiero
        print('\n'+'Financial Report'+'\n')
        print(f'Total Income: ${self.total_income()}')
        print(f'Total expense: ${self.total_expenses()}')
        print(f'Balance: ${self.balance()}')
        if self.balance() > 0:
            print('Don´t forget to save some of your left-off money! Great job!')
        else:
            print('Be responsible with your finance, and find a low rate loan!')

In [104]:
#Crear variable inputs como diccionario (Truco de un Quant, recomendable volverse Quant)
inputs = {
    'data_route' : '../data/',
    'expenses_filename' : 'expenses.csv',
    'incomes_filename' : 'incomes.csv'
    
}

In [105]:
cartera = fwallet(inputs) #Creación de variable y se instancia de fwallet

In [106]:
#Comprobación para mostrar base de datos incomes y expenses históricos. Datos se también se guardan en base de datos
#cartera.expenses

In [107]:
#cartera.add_expense()

In [108]:
#Comprobación para mostrar base de datos incomes y expenses actualizados
#cartera.expenses

In [109]:
cartera.total_expenses()

np.int64(300)

In [110]:
cartera.financial_report()

Financial Report

Total Income: $1300
Total expense: $300
Balance: $1000
Don´t forget to save some of your left-off money! Great job!